/* CELULARES */

@media screen and (max-aspect-ratio: 2/2) {
    html {
        --celular: #fffdfd;
    }

    .switchThemeToBlack, .switchThemeToWhite {
        position: absolute;
        border-radius: 50px;
        top: 10%;
        width: 40%;
        height: 80%;
        z-index: 4;
        cursor: pointer;
    }
    
    .switchThemeToBlack {
        left: 5%;
    }
    
    .switchThemeToWhite {
        right: 5%;
    }

    .block {
        background-color: var(--corpo);
        position: absolute;
        left: 2%;
        width: 96%;
        border: 1px solid var(--borda);
        border-radius: 50px;
        box-shadow: none;
        animation-duration: 1000ms;
        animation-timing-function: cubic-bezier(0.2, 0.8, 2);
        animation-fill-mode: forwards;
    }

    .contactContent {
        position: relative;
        top: 0%;
        left: 0%;
        width: 100%;
        height: auto;
        bottom: 0%;
        padding: 0%;
    }

    .addressDot, .phoneDot {
        height: 0.75vh;
        width: 0.7vh;
        background-color: var(--azul);
        border-radius: 100%;
    }
    
    .addressTitle, .phoneTitle  {
        width:  auto;
        height: auto;
        color: var(--azul);
        font-weight: bolder;
        font-size: 2.25vh;
        margin: 0;
        line-height: 0%;
    }
    
    .addressContent, .phoneContent {
        color: var(--texto);
        line-height: 100%;
        font-size: 1.75vh;
        height: auto;
        padding-left: 12%;
    }
    
    .linksContent {
        width: 100%;
        height: 100%;
    }
    
    .linksImages {
        position: absolute;
        left: 0%;
        top: 0%;
        width: 10%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .linkSVG {
        height: 90%;
    }

    .links {
        font-size: 1.75vh;
    }

    .insta {
        font-size: 1.4vh;
    }

    @keyframes oi {
        0% {
            opacity: 100%;
        }
        100% {
            opacity: 0%;
        }
    }

    @keyframes desoi {
        0% {
            opacity: 0%;
        }
        100% {
            opacity: 100%;
        }
    }

    .nicholas {
        font-size: 2.7vh;
    }

    .languageSelector {
        left: 6%;
        top: 2%;
        width: 20%;
        height: 6%;
        font-size: 3.5em;
    }

    body {
        background-color: var(--celular);
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    .rightBlock {
        display: flex;
        top: 71%;
        max-height: 7.4%;
        animation-name: crescer;
        margin-bottom: 2%;
        flex-flow: column nowrap;
    }

    #aboutMeTitleDiv {
        display: flex;
    }

    .titleDiv {
        width: 100%;
        margin-top: 12.5vh;
        height: 10vh;
        display: none;
        flex-flow: column nowrap;
    }

    .title {
        position: relative;
        font-size: 2.7vh;
        margin-bottom: 0;
    }

    .underLine {
        position: relative;
        width: 45%;
        top: 0;
        height: 1vh;
    }

    @keyframes crescer {
        0% {
            height: 0;
            min-height: 7.4%;
            width: 9.6%;
            margin-bottom: 2%;
        }
        
        100% {
            max-height: 1000%;
            min-height: 74%;
            width: 96%;
            margin-bottom: 2%;
        }
    }

    .introductionContent {
        min-height: auto !important;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        flex-grow: 2;
    }

    #aboutMeBlock {
        height: auto;
    }

    .objectiveContent { 
        justify-content: space-between;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .introductionTextDiv, .objectiveTextDiv, .introductionTitleDiv, .objectiveTitleDiv {
        width: 100%;
        height: auto;
    }

    @keyframes deselevar {
        0% {
            max-height: 1000%;
            min-height: 74%;
            width: 96%;
            margin-bottom: 2%;
            top: 24%;
            z-index: 9;
        }
        100% {
            max-height: 1000%;
            min-height: 74%;
            width: 96%;
            margin-bottom: 2%;
            top: 71%;
            z-index: 9;
        }
    }

    @keyframes doisdeselevar {
        0% {
            top: 26%;
            height: 7.5%;
            border-bottom: 1px solid var(--borda);
            z-index: 999;
        }
        100% {
            top: 73%;
            height: 7.5%;
            border-bottom: 1px solid var(--borda);
            z-index: 999;
        }
    }

    @keyframes doiselevar {
        0% {
            top: 66%;
            height: 7.5%;
            border-bottom: 1px solid var(--borda);
            z-index: 999;
        }
        100% {
            top: 26%;
            height: 7.5%;
            border-bottom: 1px solid var(--borda);
            z-index: 999;
        }
    }

    @keyframes elevar {
        0% {
            top: 64%;
            max-height: 1000%;
            min-height: 74%;
            width: 96%;
            margin-bottom: 2%;
            z-index: 9;
        }
        100% {
            top: 24%;
            max-height: 1000%;
            min-height: 74%;
            width: 96%;
            margin-bottom: 2%;
            z-index: 9;
        }
    }

    .leftBlock {
        top: 2%;
        height: 60%;
        animation-name: segcrescer;
        display: flex;
        flex-flow: column nowrap;
    }
    
    .imageCircle {
        border: 2px solid #b6b6b6;
        height: 20vh;
        width: 20vh;
        border-radius: 100%;
        animation-name: comeco;
        animation-duration: 4000ms;
        animation-timing-function: cubic-bezier(0.2, 0.8, 2);
        animation-fill-mode: forwards;
    }

    .imageBlock {
        padding-bottom: 0%;
        padding-top: 7.5%;
        height: 42.5%;
    }
    
    .headerTextBlock {
        position: relative;
        width: 80%;
        left: 10%;
        height: 50%;
        padding-bottom: 7%;
        font-family: fontReddit;
        color: var(--texto);
        animation-name: comeco;
        animation-duration: 4000ms;
        animation-timing-function: cubic-bezier(0.2, 0.8, 2);
        animation-fill-mode: forwards;
    }

    .name {
        position: relative;
        width: 100%;
        height: 10%;
        text-align: center;
        color: var(--azul);
        font-size: 2.4vh;
    }
    
    .infos {    
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1.5vh;
        justify-content: space-between;
        font-size: 2vh;
        line-height: 150%;
        width: 100%;
        padding: 0;
        text-align: justify;
        text-justify: inter-word;
    }


    @keyframes comeco {
        0% {
            opacity: 0%;
        }
        100% {
            opacity: 100%;
        }
    }

    .downArrow {
        rotate: 0deg;
        position: absolute;
        top: 3%;
        right: 5%;
        width: 5%;
        height: 5%;
        z-index: 3;
        cursor: pointer;
        opacity: 0%;
        animation-name: meudeus;
        animation-delay: 1s;
        animation-duration: 500ms;
        animation-timing-function: cubic-bezier(0.2, 0.8, 2);
        animation-fill-mode: forwards;
    }

    .blue {
        display: block;
    }

    .yellow {
        display: none;
    }

    @keyframes meudeus {
        0% {
            opacity: 0%;
        }
        100% {
            opacity: 100%;
        }
    }

    .openAndCloseMobileHeader {
        position: absolute;
        top: 3%;
        right: 5%;
        width: 5%;
        height: 5%;
        z-index: 3;
        cursor: pointer;
        z-index: 4;
    }

    @keyframes encolher {
        0% {
            rotate: 0deg;
        }
        100% {
            rotate: 180deg;
        }
    }

    @keyframes desencolher {
        0% {
            rotate: 180deg;
        }
        100% {
            rotate: 0deg;
        }
    }

    @keyframes diminuir {
        0% {
            height: 67%;
            z-index: 10;
        }
        100% {
            height: 20%;
            z-index: 10;
        }
    }

    .themeSelection, .languageSelector, .downArrow {
        z-index: 11;
    }

    .openAndCloseMobileHeader {
        z-index: 12;
    }

    @keyframes aumentar {
        0% {
            height: 20%;
        }
        100% {
            height: 67%;
        }
    }
    
    @keyframes leftBlock {
        0% {
            left: -100%;
        }
        100% {
            left: 2%;
        }
    }
    
    @keyframes segcrescer {
        0% {
            height: 6%;
            width: 9.6%;
        }
        
        100% {
            height: 67%;
            width: 96%;
        }
    }

    .optionsBar {
        width: 96%;
        top: 73%;
        height: 0%;
        right: 2%;
        font-size: 0.58vh;
    }
    
    @keyframes descer {
        0% {
            height: 0%;
            border-bottom: 1px solid var(--borda);
        }
        100% {
            height: 7.5%;
            border-bottom: 1px solid var(--borda);
        }
    }
    
    .option {
        font-size: 3vw;
        margin: 1vh 5% 8% 5%;
    }
    
    .option:hover {
        font-size: 3.5vw;
        margin: 0% 5% 7% 5%;
    } 
    
    .navBarCurtain {
        width: 94%;
        height: 8%;
        right: 3%;
        top: 73%;
    }
    
    @keyframes aparecer {
        0% {
            left: -90%;
        }
        100% {
            left: 5%;
        }
    }
    
    .blank {
        position: absolute;
        top: 71%;
        left: 0%;
        height: 76%;
        width: 1.8%;
        background-color: var(--celular);
        z-index: 2;
        animation-timing-function: cubic-bezier(0.2, 0.8, 2);
        animation-fill-mode: forwards;
        margin-bottom: 2%;
    }

    .aboutMeNavBar {
        color: #4772ff;
    }

    .rightBlockContent {
        width: 90%;
        height: 70%;
        gap: 2%;
        flex-grow: 1;
        position: relative;
        margin-bottom: 5%;
    }

    .portfolioBlock {
        flex-grow: 1;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "g1 g2"
            "g3 g4"
            "g5 g6";
    }

    .portfolioContent {
        aspect-ratio: 2/1;
        max-width: 80%;
        width: auto;
        height: auto;
    }

    .portfolioContentTitle {
        height: 20%;
        width: 80%;
        > p {
            top: 0%;
            font-size: 3vw;
        }
        display: flex;
    }

    .themeSelection {
        position: fixed;
        right: 35%;
        top: 1%;
        width: 30%;
        height: 6%;
        z-index: 12;
    }
    
    .switchThemeToBlack, .switchThemeToWhite {
        position: absolute;
        border-radius: 50px;
        top: 10%;
        width: 40%;
        height: 80%;
        z-index: 13;
    }

    .objectiveTitleDiv {
        top: 70%;
    }

    .resumeContent {
        position: relative;
        top: 0%;
        bottom: 0%;
        height: auto;
        margin: 0%;
    }

    .graduationTitle, .knowledgeAndToolsTitle {
        font-size: 2.25vh !important;
    }

    .highSchoolDiv, .ADSDiv, .universityDiv {
        font-size: 1.4vh;
        line-height: 0%;
        margin: 0%;
        height: auto;
        margin: auto;
    }

    .ADSText {
        font-size: 1.3vh;
    }

    .highSchoolText, .ADSText, .universityText {
        float: none;
    }

    .highSchoolTime, .ADSTime, .universityTime {
        display: block;
        float: none;
    }

    .timeline {
        margin-top: 2.2%;
    }

    .resumeBottomBlock {
        flex-flow: column nowrap;
        margin-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
        width: 90%;
    }

    .knowledgeAndToolsTitle {
        margin-left: 0%;
    }

    .knowledgeAndToolsDot, .introductionDot, .objectiveTitleDot, .graduationDot {
        width: 0.7vh;
        height: 0.75vh;
    }

    .knowledgeAndToolsDot {
        left: 4%;
        top: 5%;
    }

    .knowledgeDiv, .toolsDiv {
        width: 100%;
        height: 50%;
    }

    .knowledgeList {
        font-size: 1.4vh;
    }

    .officeList, .programIDEs {
        font-size: 1.4vh;
        padding-left: 30px;
        margin-top: auto;
    }

    .officeList {
        width: 60%;
    }

    .programIDEs {
        width: 40%;
    }

    .hide {
        display: none;
    }

    .officeList > li, .programIDEs > li {
        margin-top: 0% !important;
    }

    .introductionTitle, .objectiveTitle {
        font-size: 2.25vh;
    }

    .txtum, .txtdois {
        display: block;
        position: absolute;
    }

    .txtum {
        margin-top: 10%;
        width: 100%;
        height: 50%;
    }

    .txtdois {
        margin-top: 70%;
        width: 100%;
        height: 15%;
    }
    
    .aboutMeText {
        font-size: 1.75vh;
    }

    .purpleMention {
        font-size: 100%;
    }
} /* PRONTO */

@media screen and (max-aspect-ratio: 75/173) {
    .option {
        font-size: 4vw ;
        margin: 1vh 3% 8% 3%;
        padding-bottom: 2%;
    }
    
    .option:hover {
        font-size: 4.5vw;
        margin: 0% 3% 7% 3%;
    } 
}

@media screen and (max-aspect-ratio: 3.55/8) {
    .ADSText {
        font-size: 1.12vh;
    }
}

@media screen and (max-aspect-ratio: 38/100) {
    .blank, .buceta, .themeSelection, .languageSelector, .downArrow, .block, .navBarCurtain, .optionsBar {
        display: none;
    }

    .error {
        display: block;
        color: var(--texto);
        text-align: center;
    }
    
    .ooo {
        position: absolute;
        width: 50%;
        left: 25%;
        top: 40%;
    }
} /* PRONTO */

@media screen and (min-aspect-ratio: 5/8) and (max-aspect-ratio: 2/2) {
    .highSchoolDiv, .ADSDiv, .universityDiv, .officeList, .programIDEs, .knowledgeList, .ADSText {
        font-size: 1.75vh;
    }
}

/* NÃO CELULARES */

@media screen and (min-aspect-ratio: 2/2) and (max-aspect-ratio: 5/4) {
    .teste {
        background-color: #42d4f4;
    }
    .graduationTitle {
        margin-left: 8%;
    }

    .graduationDot {
        margin-left: 3%;
    }

    .toolsDiv, .knowledgeDiv {
        top: 60%;
        font-size: 1.5vw;
    }

    .option {
        margin-bottom: 7%;
        margin-left: 0%;
        font-size: 1.3em;
    }

    .aboutMeNavBar {
        margin-left: 4%;
        white-space: nowrap;
    }

    .addressTitle, .phoneTitle {
        font-size: 1.75em;
    }

    .addressContent, .phoneContent {
        font-size: 130%;
    }

    .introductionTitle, .objectiveTitle, .knowledgeAndToolsTitle {
        font-size: 1.4em;
    }
    
    .graduationTitle {
        font-size: 1.75em;
    }

    body {
        font-size: 1.30vw;
    }

    .name {
        text-align: center;
        font-size: 1.50em;
        width: 100%;
        margin-top: -10%;
    }

    .highSchoolDiv, .universityDiv {
        font-size: 130%;
    }

    #ADSTime {
        font-size: 140%;
    }

    .ADSText {
        margin-right: -3%;
        font-size: 110%;
        transform: scale(0.9, 1.4);
        font-weight: 500;
    }

    .graduationDiv {
        width: 110%;
        left: -5%;
    }

    .knowledgeDiv {
        left: 0%;
    }

    .objectiveContent {
        margin-top: 10%;
    }
} /* PRONTO */

@media screen and (min-aspect-ratio: 5/4) and (max-aspect-ratio: 3/2) {
    .teste {
        background-color: #4363d8;
    }
    .addressTitle, .phoneTitle {
        font-size: 1.55em;
    }

    .graduationDot {
        margin-left: 4%;
    }

    .addressContent, .phoneContent {
        font-size: 110%;
    }

    .introductionTitle, .objectiveTitle, .graduationTitle, .knowledgeAndToolsTitle, .address, .phone {
        font-size: 150%;
    }

    body {
        font-size: 1.30vw;
    }

    .name {
        text-align: center;
        font-size: 1.50em;
        width: 100%;
        margin-top: -10%;
    }

    .headerTextBlock {
        font-size: 1.10em;
    }

    .highSchoolDiv, .universityDiv {
        font-size: 100%;
    }

    #ADSTime {
        font-size: 110%;
    }

    .graduationDiv {
        width: 100%;
        left: 0%;
    }

    .objectiveContent {
        margin-top: 5%;
    }

    .graduationTitle {
        margin-left: 9%;
    }
} /* PRONTO */

@media screen and (min-aspect-ratio: 3/2) {
    .downarrow {
        width: 0%;
        height: 0%;
    }
}

/* PRETO */

@media screen and (min-aspect-ratio: 4/2) and (max-aspect-ratio: 20/9){
    .teste {
        background-color: #911eb4;
    }
    .objectiveTitleDiv {
        margin-top: 2%;
    }
} /* PRONTO */

@media screen and (min-aspect-ratio: 20/9) and (max-aspect-ratio: 10/4) {
    .teste {
        background-color: #f032e6;
    }
    .objectiveTitleDiv {
        margin-top: 5%;
    }

    .objectiveContent {
        margin-top: 5%;
    }

    .imageCircle {
        top: 2.5%;
    }

    .headerTextBlock {
        bottom: 10%;
    }

    .knowledgeDiv, .toolsDiv {
        top: 45%;
    }

    .graduationDiv {
        top: 0%;
    }

    .gruaduationUnderline {
        top: 90%;
    }

    .timeline {
        top: 75%;
    }

} /* PRONTO */

@media screen and (min-aspect-ratio: 10/4) {
    .teste {
        background-color: white;
    }
    .blank, .openAndCloseMobileHeader, .themeSelection, .languageSelector, .downArrow, .block, .navBarCurtain, .optionsBar {
        display: none;
    }

    .error {
        display: block;
        color: var(--texto);
        text-align: center;
    }
    
    .ooo {
        position: absolute;
        width: 50%;
        left: 25%;
        top: 40%;
    }
} /* PRONTO */