@charset "UTF-8";
/* Page content */
.teste {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

html {
  --fundo: snow;
  --corpo: white;
  --borda: #696969;
  --sombra: #696969;
  --azul: #4772ff;
  --texto: black;
  --piscada: #2447bb;
}

body {
  background-color: var(--fundo);
  font-size: 1.15vw;
}

@font-face {
  font-family: "fontReddit";
  src: url("../Fonts/RedditMono-VariableFont_wght.ttf");
}
.error {
  display: none;
}

.themeSelection {
  position: absolute;
  right: 5%;
  top: 1%;
  width: 8%;
  height: 6%;
}

.switchThemeToBlack, .switchThemeToWhite {
  position: absolute;
  border-radius: 50px;
  top: 10%;
  width: 40%;
  height: 80%;
  z-index: 2;
  cursor: pointer;
}

.switchThemeToBlack {
  left: 5%;
}

.switchThemeToWhite {
  right: 5%;
}

.divSVGMoon, .divSVGSun {
  position: absolute;
  border-radius: 50px;
  top: 10%;
  width: 40%;
  height: 80%;
}

.divSVGMoon {
  background-color: white;
  left: 5%;
  border: 0.1vw solid black;
}

.divSVGSun {
  background-color: black;
  right: 5%;
  border: 0.1vw solid white;
}

.barBetweenThemeSelector {
  position: absolute;
  background-color: #696969;
  width: 1%;
  height: 97.5%;
  top: 5%;
  left: 49.5%;
}

.moon, .sun {
  position: absolute;
  width: 80%;
  top: 5%;
  height: 90%;
  left: 10%;
}

.yellowMoon {
  display: none;
}

.blackMoon {
  display: block;
}

.blueSun {
  display: block;
}

.whiteSun {
  display: none;
}

.languageSelector {
  z-index: 3;
  display: flex;
  flex-direction: row;
  font-family: fontReddit;
  position: absolute;
  left: 1%;
  top: 1%;
  width: 5%;
  top: 2%;
}

.en {
  cursor: pointer;
  color: var(--texto);
}

.barBetweenLanguages {
  color: var(--texto);
  padding-left: 7.5%;
}

.pt {
  cursor: pointer;
  color: var(--azul);
  padding-left: 7.5%;
}

.blank {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 27.5%;
  background-color: var(--fundo);
  z-index: 2;
}

.downArrow {
  display: none;
}

.block {
  background-color: var(--corpo);
  position: absolute;
  top: 10%;
  border: 0.1vw solid var(--borda);
  border-radius: 0.5vw;
  box-shadow: 0.5vw 0.5vw 0.5vw var(--sombra);
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0.2, 0.8, 2);
  animation-fill-mode: forwards;
}

@media not screen and (max-aspect-ratio: 2/2) {
  .block {
    height: 85%;
  }
}
@keyframes selectedRightBlockContentAppearing {
  0% {
    left: -90%;
  }
  100% {
    left: 5%;
  }
}
/* Left Block */
.leftBlock {
  z-index: 2;
  left: 5%;
  width: 20%;
  animation-name: leftBlock;
  display: flex;
  flex-flow: column nowrap;
}

@keyframes leftBlock {
  0% {
    left: -25%;
  }
  100% {
    left: 5%;
  }
}
.imageBlock {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
}

.imageCircle {
  border: 0.2vw solid #b6b6b6;
  width: 70%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-image: url("../Images/foto profissional.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
}

.headerTextBlock {
  width: 100%;
  height: 70%;
  font-family: fontReddit;
  color: var(--texto);
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  font-size: 1.2vw;
}

.name {
  width: 100%;
  height: 20%;
  color: var(--azul);
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  font-size: 2vw;
  margin: auto;
  align-items: center;
  text-align: center;
}

.infos {
  width: 75%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 auto;
  padding: 0% 12.5% 5% 12.5%;
  margin: auto;
  gap: 6%;
  font-size: 2vh;
}

.infos > p, .nicholas {
  margin: 0;
}

/* Nav Bar */
.navBarCurtain {
  animation-name: subir;
  animation-delay: 1750ms;
  animation-duration: 1500ms;
  animation-timing-function: cubic-bezier(0.2, 0.8, 2);
  animation-fill-mode: forwards;
  position: absolute;
  background-color: var(--corpo);
  border-top: 0.1vw solid var(--corpo);
  width: 38%;
  height: 3%;
  right: 6%;
  top: 11%;
}

@keyframes subir {
  0% {
    height: 3%;
    z-index: 2;
  }
  100% {
    height: 0%;
  }
}
.optionsBar {
  position: absolute;
  z-index: 1;
  animation-name: descer;
  animation-delay: 1000ms;
  animation-duration: 750ms;
  animation-timing-function: cubic-bezier(0.2, 0.8, 2);
  animation-fill-mode: forwards;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: fontReddit;
  width: 40%;
  top: 10%;
  height: 0%;
  right: 4.9%;
}

@keyframes descer {
  0% {
    height: 0%;
    border-bottom: 0.1vw solid var(--borda);
    border-left: 0.1vw solid var(--borda);
    border-bottom-left-radius: 10px;
  }
  100% {
    height: 7.5%;
    border-bottom: 0.1vw solid var(--borda);
    border-left: 0.1vw solid var(--borda);
    border-bottom-left-radius: 10px;
  }
}
.option {
  visibility: hidden;
  cursor: pointer;
  animation-name: cor;
  animation-fill-mode: forwards;
  animation-delay: 1750ms;
  animation-duration: 2ms;
  transition: font-size 250ms;
  text-decoration: none;
  color: var(--texto);
  border-bottom: 0.1vw solid;
  padding-bottom: 4%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin: 3% 5% 5% 5%;
}

@keyframes cor {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.option:hover {
  font-size: 150%;
  margin: 2% 1% 2% 1%;
  padding-bottom: 6%;
}

.aboutMeNavBar {
  border-bottom-color: var(--azul);
  font-weight: bolder;
  color: var(--azul);
}

/* Right Block */
.rightBlock {
  left: 27.5%;
  width: 67.5%;
  animation-name: aumentar;
}

@keyframes aumentar {
  0% {
    height: 8.5%;
    width: 6.75%;
  }
  100% {
    height: 85%;
    width: 67.5%;
  }
}
.title {
  font-family: fontReddit;
  color: var(--azul);
  font-weight: bolder;
  animation-duration: 1500ms;
  animation-timing-function: cubic-bezier(0.2, 0.8, 2);
  animation-fill-mode: forwards;
  z-index: 1;
  display: none;
  position: absolute;
  left: 5%;
  top: 1%;
  font-size: 150%;
}

.underLine {
  position: absolute;
  z-index: 1;
  height: 1%;
  border-radius: 20px;
  animation-duration: 1500ms;
  animation-timing-function: cubic-bezier(0.2, 0.8, 2);
  animation-fill-mode: forwards;
  z-index: 1;
  display: none;
  background-color: var(--azul);
  top: 10%;
  left: 5%;
  width: 15%;
}

.rightBlockContent {
  position: absolute;
  animation-duration: 1500ms;
  animation-timing-function: cubic-bezier(0.2, 0.8, 2);
  animation-fill-mode: forwards;
  z-index: 1;
  display: none;
  font-family: fontReddit;
  top: 15%;
  width: 90%;
  height: 80%;
  left: 5%;
}

/* About me */
#aboutMeUnderLine, #aboutMeTitle {
  display: block;
  animation-name: sim;
  animation-fill-mode: forwards;
}

@keyframes sim {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
#aboutMeBlock {
  flex-flow: column nowrap;
  opacity: 0%;
  display: flex;
  animation-name: pors;
  animation-delay: 2000ms;
  animation-duration: 1500ms;
  animation-timing-function: cubic-bezier(0.2, 0.8, 2);
}

@keyframes pors {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.introductionContent, .objectiveContent {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.introductionContent {
  height: 65%;
}

.objectiveContent {
  height: 35%;
}

.introductionTitleDiv, .objectiveTitleDiv {
  width: 95%;
  height: 20%;
  padding-left: 5%;
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
  align-items: center;
  gap: 2%;
}

.introductionDot, .objectiveTitleDot {
  background-color: var(--azul);
  border-radius: 100%;
  height: 0.75vw;
  width: 0.7vw;
}

.introductionTitle, .objectiveTitle {
  font-weight: bolder;
  color: var(--azul);
  font-size: 125%;
}

.introductionTextDiv, .objectiveTextDiv {
  width: 100%;
  height: 80%;
}

.aboutMeText, .purpleMention {
  text-align: justify;
  color: var(--texto);
  text-indent: 15%;
  font-size: 2.2vh;
}

/* Resume */
.resumeContent {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
}

.graduationDiv, .resumeBottomBlock {
  display: flex;
}

.graduationDiv {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  height: 45%;
  display: flex;
  flex-flow: column nowrap;
}

.graduationTitleDiv {
  width: 95%;
  height: 22%;
  padding-left: 5%;
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
  align-items: center;
  gap: 2%;
}

.graduationDot {
  background-color: var(--azul);
  width: 0.7vw;
  height: 0.75vw;
  border-radius: 100%;
}

.graduationTitle, .knowledgeAndToolsTitle {
  color: var(--azul);
  font-weight: bolder;
  font-size: 125%;
}

.highSchoolDiv, .ADSDiv, .universityDiv {
  height: 26%;
  font-size: 90%;
  width: 100%;
  color: var(--texto);
}

.highSchoolTime, .ADSTime, .universityTime {
  display: inline;
  float: left;
}

.highSchoolText, .ADSText, .universityText {
  display: inline;
  float: right;
}

.gruaduationUnderline {
  background-color: var(--azul);
  width: 100%;
  height: 1%;
  margin-top: 0.5%;
}

.timeline {
  background-color: var(--azul);
  width: 36%;
  height: 8%;
  border-radius: 40px;
  margin-top: 4.5%;
}

.incompleteTimeline {
  background: linear-gradient(to right, var(--azul), var(--corpo));
}

.resumeBottomBlock {
  flex-flow: row nowrap;
  width: 100%;
  height: 55%;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.knowledgeDiv, .toolsDiv {
  width: 42.5%;
  height: 80%;
  display: flex;
  flex-flow: column nowrap;
}

.knowledgeTitleDiv, .toolsTitleDiv {
  width: 95%;
  height: 22%;
  padding-left: 5%;
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
  align-items: center;
  gap: 2%;
}

.knowledgeAndToolsDot {
  background-color: var(--azul);
  width: 0.7vw;
  height: 0.75vw;
  border-radius: 100%;
}

.knowledgeAndToolsTitle {
  margin-left: 10%;
}

.knowledgeList {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 78%;
  color: var(--texto);
  gap: 2.8571428571%;
}

.knowledgeListItem {
  height: 10%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}

.boldKnowledgeList {
  font-weight: 600;
  width: 30%;
}

.knowledgePercentage:not(#intermediate) {
  width: 12%;
  text-align: end;
}

.progressBarContent {
  height: 100%;
  background-color: var(--azul);
  border-radius: 50px;
  border: 0.1vw solid var(--azul);
  margin-top: -0.5%;
}

.progressHTML {
  width: 100%;
}

.progressCSS {
  width: 80%;
}

.progressJS {
  width: 50%;
}

.progressJAVA {
  width: 5%;
}

.progressSQL {
  width: 50%;
}

.progressPHP {
  width: 40%;
}

.progressCplusplus {
  width: 5%;
}

.fullProgressBar {
  width: 40%;
  border: 0.4vw solid var(--azul);
  border-radius: 50px;
}

.toolsDiv {
  right: 5%;
}

.toolsListDiv {
  display: flex;
  height: 72%;
}

.officeList, .programIDEs {
  flex-direction: column;
  color: var(--texto);
  padding-left: 3vw;
}

.programIDEs > li:not(.exception) {
  margin-top: 15%;
}

.programIDEs, .officeList {
  margin-top: 0;
}

/* Portfolio */
.portfolioBlock {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "g1 g2 g3" "g4 g5 g6";
}

.portfolioBlock > div {
  display: flex;
  flex-flow: column nowrap;
}

.g1 {
  grid-area: g1;
}

.g2 {
  grid-area: g2;
}

.g3 {
  grid-area: g3;
}

.g4 {
  grid-area: g4;
}

.g5 {
  grid-area: g5;
}

.g6 {
  grid-area: g6;
}

.portfolioContentTitle {
  padding-left: 5%;
}

.portfolioContentTitle > p {
  position: relative;
  top: 40%;
  color: var(--texto);
}

.portfolioContent {
  width: 80%;
  height: 60%;
  margin: 10% 10% 10% 10%;
  border: 1px solid black;
  flex: 1 0 auto;
  transition: 400ms;
  cursor: pointer;
}

.portfolioContent:hover {
  width: 90%;
  height: 70%;
  margin: 5% 5% 5% 5%;
}

.modalBackground {
  display: none;
  position: fixed;
  z-index: 990;
  top: 0%;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.116);
}

.modalContent {
  position: fixed;
  z-index: 999;
  height: 80%;
  width: 80%;
  left: 10%;
  top: 10%;
  background-color: var(--fundo);
  border-radius: 20px;
  box-shadow: 0px 1px 20px 1px var(--sombra);
  display: flex;
  flex-flow: column nowrap;
}

.modalUpperSpace {
  height: 10%;
  align-content: center;
}

.closeModal {
  position: relative;
  left: 96%;
  width: 2%;
  aspect-ratio: 1/1;
  cursor: pointer;
}

#yellowXSymbol {
  display: none;
}

.modalBottomSpace {
  height: 90%;
  border-top: 1px solid var(--azul);
  align-content: center;
}

.modalBottomContent {
  height: 80%;
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-flow: column nowrap;
}

.modalDisplay {
  width: 80%;
  margin-left: 10%;
  height: 80%;
  background-image: url("368747905_618447380391939_899445883402682981_n.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.modalButtons {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.modalPreviousButton, .modalNextButton {
  height: 20%;
  aspect-ratio: 1/1;
  background-color: rgba(124, 124, 124, 0.4509803922);
  cursor: pointer;
}

.modalPreviousButton:active, .modalNextButton:active {
  background-color: rgba(73, 73, 73, 0.4509803922);
}

.previousImageSVG, .nextImageSVG {
  position: relative;
  top: 0;
  left: 0;
  width: 60%;
  height: 60%;
  margin: 20% 20% 20% 20%;
  cursor: pointer;
}

.goToPageModalButton {
  margin: 4% 42.5% 0% 42.5%;
  height: 10%;
  width: 15%;
  cursor: pointer;
  border: none;
  background-color: var(--azul);
  color: var(--corpo);
  font-family: fontReddit;
  border-radius: 5px;
}

.goToPageModalButton:active {
  background-color: var(--piscada);
}

/* Contact */
.contactContent {
  position: absolute;
  left: 0%;
  top: -3.8%;
  width: 100%;
  height: 90%;
  display: flex;
  flex-flow: column nowrap;
  padding-top: 5%;
}

.addressDiv, .phoneDiv, .linksDiv {
  width: 100%;
  height: 33.3333333333%;
}

.addressTitleDiv, .phoneTitleDiv {
  width: 95%;
  height: 25%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-left: 5%;
  gap: 2%;
}

.addressDot {
  height: 0.75vw;
  width: 0.7vw;
  background-color: var(--azul);
  border-radius: 100%;
}

.addressTitle {
  font-family: fontReddit;
  color: var(--azul);
  font-weight: bolder;
  font-size: 125%;
}

.addressContent, .phoneContent {
  font-family: fontReddit;
  color: var(--texto);
  width: 92%;
  height: 75%;
  padding-left: 8%;
}

.phoneDot {
  height: 0.75vw;
  width: 0.7vw;
  background-color: var(--azul);
  border-radius: 100%;
}

.phoneTitle {
  font-family: fontReddit;
  color: var(--azul);
  font-weight: bolder;
  font-size: 125%;
}

.linksContent {
  width: 95%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding-left: 5%;
}

.linksGithub, .linksInstagram, .linksLinkedin {
  height: 33.3333333333%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.links {
  font-family: fontReddit;
  color: var(--azul);
  cursor: pointer;
}

.links:visited {
  color: var(--azul);
}

.links:active {
  color: lightblue;
}

.linkSVG {
  height: 100%;
  aspect-ratio: 1/1;
  cursor: pointer;
}

/* CELULARES */
@media screen and (max-aspect-ratio: 2/2) {
  html {
    --celular: #fffdfd;
  }
  .switchThemeToBlack, .switchThemeToWhite {
    position: absolute;
    border-radius: 50px;
    top: 10%;
    width: 40%;
    height: 80%;
    z-index: 4;
    cursor: pointer;
  }
  .switchThemeToBlack {
    left: 5%;
  }
  .switchThemeToWhite {
    right: 5%;
  }
  .block {
    background-color: var(--corpo);
    position: absolute;
    left: 2%;
    width: 96%;
    border: 1px solid var(--borda);
    border-radius: 50px;
    box-shadow: none;
    animation-duration: 1000ms;
    animation-timing-function: cubic-bezier(0.2, 0.8, 2);
    animation-fill-mode: forwards;
  }
  .contactContent {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: auto;
    bottom: 0%;
    padding: 0%;
  }
  .addressDot, .phoneDot {
    height: 0.75vh;
    width: 0.7vh;
    background-color: var(--azul);
    border-radius: 100%;
  }
  .addressTitle, .phoneTitle {
    width: auto;
    height: auto;
    color: var(--azul);
    font-weight: bolder;
    font-size: 2.25vh;
    margin: 0;
    line-height: 0%;
  }
  .addressContent, .phoneContent {
    color: var(--texto);
    line-height: 100%;
    font-size: 1.75vh;
    height: auto;
    padding-left: 12%;
  }
  .linksContent {
    width: 100%;
    height: 100%;
  }
  .linksImages {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .linkSVG {
    height: 90%;
  }
  .links {
    font-size: 1.75vh;
  }
  .insta {
    font-size: 1.4vh;
  }
  @keyframes oi {
    0% {
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }
  @keyframes desoi {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
  .nicholas {
    font-size: 2.7vh;
  }
  .languageSelector {
    left: 6%;
    top: 2%;
    width: 20%;
    height: 6%;
    font-size: 3.5em;
  }
  body {
    background-color: var(--celular);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .rightBlock {
    display: flex;
    top: 71%;
    max-height: 7.4%;
    animation-name: crescer;
    margin-bottom: 2%;
    flex-flow: column nowrap;
  }
  #aboutMeTitleDiv {
    display: flex;
  }
  .titleDiv {
    width: 100%;
    margin-top: 12.5vh;
    height: 10vh;
    display: none;
    flex-flow: column nowrap;
  }
  .title {
    position: relative;
    font-size: 2.7vh;
    margin-bottom: 0;
    width: 80%;
  }
  .underLine {
    position: relative;
    width: 45%;
    top: 0;
    height: 1vh;
  }
  @keyframes crescer {
    0% {
      height: 0;
      min-height: 7.4%;
      width: 9.6%;
      margin-bottom: 2%;
    }
    100% {
      max-height: 1000%;
      min-height: 74%;
      width: 96%;
      margin-bottom: 2%;
    }
  }
  .introductionContent {
    min-height: auto !important;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    flex-grow: 2;
  }
  #aboutMeBlock {
    height: auto;
  }
  .objectiveContent {
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .introductionTextDiv, .objectiveTextDiv, .introductionTitleDiv, .objectiveTitleDiv {
    width: 100%;
    height: auto;
  }
  @keyframes deselevar {
    0% {
      max-height: 1000%;
      min-height: 74%;
      width: 96%;
      margin-bottom: 2%;
      top: 24%;
      z-index: 9;
    }
    100% {
      max-height: 1000%;
      min-height: 74%;
      width: 96%;
      margin-bottom: 2%;
      top: 71%;
      z-index: 9;
    }
  }
  @keyframes doisdeselevar {
    0% {
      top: 26%;
      height: 7.5%;
      border-bottom: 1px solid var(--borda);
      z-index: 999;
    }
    100% {
      top: 73%;
      height: 7.5%;
      border-bottom: 1px solid var(--borda);
      z-index: 999;
    }
  }
  @keyframes doiselevar {
    0% {
      top: 66%;
      height: 7.5%;
      border-bottom: 1px solid var(--borda);
      z-index: 999;
    }
    100% {
      top: 26%;
      height: 7.5%;
      border-bottom: 1px solid var(--borda);
      z-index: 999;
    }
  }
  @keyframes elevar {
    0% {
      top: 64%;
      max-height: 1000%;
      min-height: 74%;
      width: 96%;
      margin-bottom: 2%;
      z-index: 9;
    }
    100% {
      top: 24%;
      max-height: 1000%;
      min-height: 74%;
      width: 96%;
      margin-bottom: 2%;
      z-index: 9;
    }
  }
  .leftBlock {
    top: 2%;
    height: 60%;
    animation-name: segcrescer;
    display: flex;
    flex-flow: column nowrap;
  }
  .imageCircle {
    border: 2px solid #b6b6b6;
    height: 20vh;
    width: 20vh;
    border-radius: 100%;
    animation-name: comeco;
    animation-duration: 4000ms;
    animation-timing-function: cubic-bezier(0.2, 0.8, 2);
    animation-fill-mode: forwards;
  }
  .imageBlock {
    padding-bottom: 0%;
    padding-top: 7.5%;
    height: 42.5%;
  }
  .headerTextBlock {
    position: relative;
    width: 80%;
    left: 10%;
    height: 50%;
    padding-bottom: 7%;
    font-family: fontReddit;
    color: var(--texto);
    animation-name: comeco;
    animation-duration: 4000ms;
    animation-timing-function: cubic-bezier(0.2, 0.8, 2);
    animation-fill-mode: forwards;
  }
  .name {
    position: relative;
    width: 100%;
    height: 10%;
    text-align: center;
    color: var(--azul);
    font-size: 2.4vh;
  }
  .infos {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    justify-content: space-between;
    font-size: 2vh;
    line-height: 150%;
    width: 100%;
    padding: 0;
    text-align: justify;
    text-justify: inter-word;
  }
  @keyframes comeco {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
  .downArrow {
    rotate: 0deg;
    position: absolute;
    top: 3%;
    right: 5%;
    width: 5%;
    height: 5%;
    z-index: 3;
    cursor: pointer;
    opacity: 0%;
    animation-name: meudeus;
    animation-delay: 1s;
    animation-duration: 500ms;
    animation-timing-function: cubic-bezier(0.2, 0.8, 2);
    animation-fill-mode: forwards;
  }
  .blue {
    display: block;
  }
  .yellow {
    display: none;
  }
  @keyframes meudeus {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
  .openAndCloseMobileHeader {
    position: absolute;
    top: 3%;
    right: 5%;
    width: 5%;
    height: 5%;
    z-index: 3;
    cursor: pointer;
    z-index: 4;
  }
  @keyframes encolher {
    0% {
      rotate: 0deg;
    }
    100% {
      rotate: 180deg;
    }
  }
  @keyframes desencolher {
    0% {
      rotate: 180deg;
    }
    100% {
      rotate: 0deg;
    }
  }
  @keyframes diminuir {
    0% {
      height: 67%;
      z-index: 10;
    }
    100% {
      height: 20%;
      z-index: 10;
    }
  }
  .themeSelection, .languageSelector, .downArrow {
    z-index: 11;
  }
  .openAndCloseMobileHeader {
    z-index: 12;
  }
  @keyframes aumentar {
    0% {
      height: 20%;
    }
    100% {
      height: 67%;
    }
  }
  @keyframes leftBlock {
    0% {
      left: -100%;
    }
    100% {
      left: 2%;
    }
  }
  @keyframes segcrescer {
    0% {
      height: 6%;
      width: 9.6%;
    }
    100% {
      height: 67%;
      width: 96%;
    }
  }
  .optionsBar {
    width: 96%;
    top: 73%;
    height: 0%;
    right: 2%;
    font-size: 0.58vh;
  }
  @keyframes descer {
    0% {
      height: 0%;
      border-bottom: 1px solid var(--borda);
    }
    100% {
      height: 7.5%;
      border-bottom: 1px solid var(--borda);
    }
  }
  .option {
    font-size: 3vw;
    margin: 1vh 5% 8% 5%;
  }
  .option:hover {
    font-size: 3.5vw;
    margin: 0% 5% 7% 5%;
  }
  .navBarCurtain {
    width: 94%;
    height: 8%;
    right: 3%;
    top: 73%;
  }
  @keyframes aparecer {
    0% {
      left: -90%;
    }
    100% {
      left: 5%;
    }
  }
  .blank {
    position: absolute;
    top: 71%;
    left: 0%;
    height: 76%;
    width: 1.8%;
    background-color: var(--celular);
    z-index: 2;
    animation-timing-function: cubic-bezier(0.2, 0.8, 2);
    animation-fill-mode: forwards;
    margin-bottom: 2%;
  }
  .aboutMeNavBar {
    color: #4772ff;
  }
  .rightBlockContent {
    width: 90%;
    height: 70%;
    gap: 2%;
    flex-grow: 1;
    position: relative;
    margin-bottom: 5%;
  }
  .portfolioBlock {
    flex-grow: 1;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "g1 g2" "g3 g4" "g5 g6";
  }
  .portfolioContent {
    aspect-ratio: 2/1;
    max-width: 80%;
    width: auto;
    height: auto;
  }
  .portfolioContent:hover {
    width: auto;
    height: auto;
    margin: 10% 9% 10% 9%;
  }
  .portfolioContentTitle {
    height: 20%;
    width: 80%;
    display: flex;
  }
  .portfolioContentTitle > p {
    top: 0%;
    font-size: 3vw;
  }
  .themeSelection {
    position: fixed;
    right: 35%;
    top: 1%;
    width: 30%;
    height: 6%;
    z-index: 12;
  }
  .switchThemeToBlack, .switchThemeToWhite {
    position: absolute;
    border-radius: 50px;
    top: 10%;
    width: 40%;
    height: 80%;
    z-index: 13;
  }
  .objectiveTitleDiv {
    top: 70%;
  }
  .resumeContent {
    position: relative;
    top: 0%;
    bottom: 0%;
    height: auto;
    margin: 0%;
  }
  .graduationTitle, .knowledgeAndToolsTitle {
    font-size: 2.25vh !important;
  }
  .highSchoolDiv, .ADSDiv, .universityDiv {
    font-size: 1.4vh;
    line-height: 0%;
    margin: 0%;
    height: auto;
    margin: auto;
  }
  .ADSText {
    font-size: 1.3vh;
  }
  .highSchoolText, .ADSText, .universityText {
    float: none;
  }
  .highSchoolTime, .ADSTime, .universityTime {
    display: block;
    float: none;
  }
  .timeline {
    margin-top: 2.2%;
  }
  .resumeBottomBlock {
    flex-flow: column nowrap;
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
  }
  .knowledgeAndToolsTitle {
    margin-left: 0%;
  }
  .knowledgeAndToolsDot, .introductionDot, .objectiveTitleDot, .graduationDot {
    width: 0.7vh;
    height: 0.75vh;
  }
  .knowledgeAndToolsDot {
    left: 4%;
    top: 5%;
  }
  .knowledgeDiv, .toolsDiv {
    width: 100%;
    height: 50%;
  }
  .knowledgeList {
    font-size: 1.4vh;
    gap: 4%;
  }
  .officeList, .programIDEs {
    font-size: 1.4vh;
    padding-left: 30px;
    margin-top: 5%;
  }
  .officeList {
    width: 60%;
  }
  .programIDEs {
    width: 40%;
  }
  .programIDEs li {
    margin-top: 0 !important;
  }
  .hide {
    display: none;
  }
  .introductionTitle, .objectiveTitle {
    font-size: 2.25vh;
  }
  .txtum, .txtdois {
    display: block;
    position: absolute;
  }
  .txtum {
    margin-top: 10%;
    width: 100%;
    height: 50%;
  }
  .txtdois {
    margin-top: 70%;
    width: 100%;
    height: 15%;
  }
  .aboutMeText {
    font-size: 1.75vh;
  }
  .purpleMention {
    font-size: 100%;
  }
  .closeModal {
    left: 90%;
    width: 5vw;
  }
  .goToPageModalButton {
    width: 40%;
    margin: 4% 30% 0% 30%;
  }
  .modalPreviousButton, .modalNextButton {
    height: 7.5vh;
  }
} /* PRONTO */
@media screen and (max-aspect-ratio: 75/173) {
  .option {
    font-size: 4vw;
    margin: 1vh 3% 8% 3%;
    padding-bottom: 2%;
  }
  .option:hover {
    font-size: 4.5vw;
    margin: 0% 3% 7% 3%;
  }
}
@media screen and (max-aspect-ratio: 3.55/8) {
  .ADSText {
    font-size: 1.12vh;
  }
}
@media screen and (max-aspect-ratio: 38/100) {
  .blank, .buceta, .themeSelection, .languageSelector, .downArrow, .block, .navBarCurtain, .optionsBar {
    display: none;
  }
  .error {
    display: block;
    color: var(--texto);
    text-align: center;
  }
  .ooo {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 40%;
  }
} /* PRONTO */
@media screen and (min-aspect-ratio: 5/8) and (max-aspect-ratio: 2/2) {
  .highSchoolDiv, .ADSDiv, .universityDiv, .officeList, .programIDEs, .knowledgeList, .ADSText {
    font-size: 1.75vh;
  }
}
/* NÃO CELULARES */
@media screen and (min-aspect-ratio: 2/2) and (max-aspect-ratio: 5/4) {
  .nicholas {
    font-size: 2.65vw;
  }
  .infos {
    font-size: 2vh;
  }
  .name {
    vertical-align: center;
    text-align: center;
  }
  .imageBlock {
    height: 25%;
  }
  .aboutMeText, .purpleMention {
    font-size: 1.8vh;
  }
  .introductionTitle, .objectiveTitle, .graduationTitle, .knowledgeAndToolsTitle, .addressTitle, .phoneTitle {
    font-size: 2.2vh;
  }
  .portfolioContentTitle > p {
    font-size: 1.8vh;
  }
  .addressContent, .phoneContent, .linksContent {
    font-size: 1.75vh;
  }
  .highSchoolDiv, .ADSDiv, .universityDiv {
    font-size: 1.3vw;
  }
  .highSchoolTime, .ADSTime, .universityTime {
    margin-top: 0;
  }
  .ADSText {
    font-size: 1.15vw;
  }
  .knowledgeListItem, .toolsListDiv {
    font-size: 1.4vw;
  }
  #intermediate {
    font-size: 1.1vw !important;
  }
  .boldKnowledgeList {
    width: 40%;
  }
  .fullProgressBar {
    width: 30%;
  }
  .title {
    font-size: 2.7vh;
  }
  .option {
    font-size: 1.55vh;
    margin: 5% 4% 6% 4%;
  }
  .option:hover {
    margin: 4% 2% 4% 2% !important;
    font-size: 1.8vh !important;
  }
  .languageSelector {
    font-size: 2vh;
  }
} /* PRONTO */
@media screen and (min-aspect-ratio: 5/4) and (max-aspect-ratio: 3/2) {
  .addressTitle, .phoneTitle {
    font-size: 1.55em;
  }
  .aboutMeText, .purpleMention {
    font-size: 2vh;
  }
  .title {
    font-size: 3vh;
  }
  .option {
    font-size: 1.3vw;
  }
  .nicholas {
    font-size: 3vh;
  }
  .infos {
    font-size: 2vh;
  }
  .addressContent, .phoneContent {
    font-size: 110%;
  }
  .highSchoolTime, .ADSTime, .universityTime {
    margin-top: 0;
  }
  .introductionTitle, .objectiveTitle, .graduationTitle, .knowledgeAndToolsTitle, .address, .phone {
    font-size: 150%;
  }
  .name {
    text-align: center;
    font-size: 1.5em;
    width: 100%;
    margin-top: -10%;
  }
  .headerTextBlock {
    font-size: 1.1em;
  }
  .highSchoolDiv, .universityDiv {
    font-size: 100%;
  }
  #ADSTime {
    font-size: 110%;
  }
  .objectiveContent {
    margin-top: 5%;
  }
  .graduationTitle {
    margin-left: 9%;
  }
} /* PRONTO */
@media screen and (min-aspect-ratio: 3/2) {
  .downarrow {
    display: none !important;
    width: 0%;
    height: 0%;
  }
}
/* PRETO */
@media screen and (min-aspect-ratio: 20/9) and (max-aspect-ratio: 10/4) {
  .imageBlock {
    padding-top: 2%;
  }
  .infos {
    gap: 5%;
  }
  .name {
    height: 25%;
  }
  .aboutMeText, .purpleMention {
    font-size: 2.5vh;
  }
  .underLine {
    top: 12%;
  }
  .addressContent, .phoneContent {
    height: 70%;
  }
  .addressContent > p, .phoneContent > p {
    margin: auto;
  }
} /* PRONTO */
@media screen and (min-aspect-ratio: 10/4) {
  .teste {
    background-color: white;
  }
  .blank, .openAndCloseMobileHeader, .themeSelection, .languageSelector, .downArrow, .block, .navBarCurtain, .optionsBar {
    display: none;
  }
  .error {
    display: block;
    color: var(--texto);
    text-align: center;
  }
  .ooo {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 40%;
  }
} /* PRONTO *//*# sourceMappingURL=style.css.map */