
html {
    --fundo: snow;
    --corpo: white;
    --borda: #696969;
    --sombra: #696969;
    --azul: #4772ff;
    --texto: black;
    --piscada: #2447bb;
}
 
body {
    background-color: var(--fundo);
    font-size: 1.15vw;
}

.esquerda {
    z-index: 2;
}

.options {
    position: absolute;
    z-index: 1;
    animation-name: descer;
    animation-delay: 1000ms;
    animation-duration: 750ms;
    animation-timing-function: cubic-bezier(0.2, 0.8, 2);
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: fodase;
}

.op {
    visibility: hidden;
    cursor: pointer;
    animation-name: cor;
    animation-fill-mode: forwards;
    animation-delay: 1750ms;
    animation-duration: 2ms;
    transition: font-size 250ms;
    text-decoration: none;
    color: var(--texto);
    border-bottom: 0.1vw solid;
    padding-bottom: 4%;
    user-select: none;
}

.espacol {
    z-index: 3;
    display: flex;
    flex-direction: row;
    font-family: fodase;
    position: absolute;
}

.traco, .pt {
    padding-left: 7.5%;
}

.traco {
    color: var(--texto);
}

.en {
    cursor: pointer;
    color: var(--texto);
}

.pt {
    cursor: pointer;
    color: var(--azul);
}

.sumindo {
    animation-name: subir;
    animation-delay: 1750ms;
    animation-duration: 1500ms;
    animation-timing-function: cubic-bezier(0.2, 0.8, 2);
    animation-fill-mode: forwards;
    position: absolute;
    background-color: var(--corpo);
    border-top: 0.1vw solid var(--corpo);
}

@keyframes subir {
    0% {
        height: 3%;
        z-index: 2;
    }
    100% {
        height: 0%;
    }
}

.pri {
    border-bottom-color: var(--azul);
    font-weight: bolder;
}

.bloco {
    position: absolute;
    animation-duration: 1500ms;
    animation-timing-function: cubic-bezier(0.2, 0.8, 2);
    animation-fill-mode: forwards;
    z-index: 1;
    display: none;
}

.linha {
    position: absolute;
    z-index: 1;
    height: 1%;
    border-radius: 20px;
    animation-duration: 1500ms;
    animation-timing-function: cubic-bezier(0.2, 0.8, 2);
    animation-fill-mode: forwards;
    z-index: 1;
    display: none;
    background-color: var(--azul);
}

#blocoum {
    opacity: 0%;
    display: block;
    animation-name: pors;
    animation-delay: 2000ms;
    animation-duration: 1500ms;
    animation-timing-function: cubic-bezier(0.2, 0.8, 2);
}

@keyframes pors {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.title {
    font-family: fodase;
    color: var(--azul);
    font-weight: bolder;
    animation-duration: 1500ms;
    animation-timing-function: cubic-bezier(0.2, 0.8, 2);
    animation-fill-mode: forwards;
    z-index: 1;
    display: none;
    position: absolute;
    left: 5%;
}

.linhaum, #titleum {
    display: block;
    animation-name: sim;
    animation-fill-mode: forwards;
}

.divisao {
    position: absolute;
    background-color: #696969;
    width: 1%;
    height: 97.5%;
    top: 5%;
    left: 49.5%;
}

.selecaoum {
    background-color: white;
    left: 5%;
    border: 0.1vw solid black;
}

.selecaodois {
    background-color: black;
    right: 5%;
    border: 0.1vw solid white;
}

.selecaoum, .selecaodois {
    position: absolute;
    border-radius: 50px;
    top: 10%;
    width: 40%;
    height: 80%;
}

.lua, .sol {
    position: absolute;
    width: 80%;
    top: 5%;
    height: 90%;
    left: 10%;
}

.luaamarela {
    display: none;
}

.luapreta {
    display: block;
}

.solazul {
    display: block;
}

.solbranco {
    display: none;
}

.nick {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.infos {
    position: absolute;
    top: 15%;
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    justify-content: space-between;
    line-height: 150%;
    margin-left: 7.5%;
}

.downarrow {
    display: none;
}

.invum, .invdois {
    position: absolute;
    border-radius: 50px;
    top: 10%;
    width: 40%;
    height: 80%;
    z-index: 2;
    cursor: pointer;
}

.invum {
    left: 5%;
}

.invdois {
    right: 5%;
}

@font-face {
    font-family:'fodase';
    src:url("RedditMono-VariableFont_wght.ttf");
}

.header {
    background-color: var(--corpo);
    position: absolute;
    top: 10%;
    height: 85%;
    border: 0.1vw solid var(--borda);
    border-radius: 0.5vw;
    box-shadow: 0.5vw 0.5vw 0.5vw var(--sombra);
    animation-duration: 1000ms;
    animation-timing-function: cubic-bezier(0.2, 0.8, 2);
    animation-fill-mode: forwards;
}

.direita {
    left: 27.5%;
    width: 67.5%;
    animation-name: aumentar;
}

.esquerda {
    left: 5%;
    width: 20%;
    animation-name: esquerda;
}

@keyframes esquerda {
    0% {
        left: -25%;
    }
    100% {
        left: 5%;
    }
}

@keyframes aumentar {
    0% {
        height: 8.5%;
        width: 6.75%;
    }
    
    100% {
        height: 85%;
        width: 67.5%;
    }
}

.options {
    width: 40%;
    top: 10%;
    height: 0%;
    right: 4.9%;
}

@keyframes descer {
    0% {
        height: 0%;
        border-bottom: 0.1vw solid var(--borda);
        border-left: 0.1vw solid var(--borda);
        border-bottom-left-radius: 10px;
    }
    100% {
        height: 7.5%;
        border-bottom: 0.1vw solid var(--borda);
        border-left: 0.1vw solid var(--borda);
        border-bottom-left-radius: 10px;
    }
}

.op {
    margin: 3% 5% 5% 5%;
}

.espacol {
    left: 1%;
    top: 1%;
    width: 5%;
    top: 2%;
}

@keyframes cor {
    0% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

.op:hover {
    font-size: 150%;
    margin: 2% 1% 2% 1%;
    padding-bottom: 6%;
} 

.sumindo {
    width: 38%;
    height: 3%;
    right: 6%;
    top: 11%;
}

.pri {
    color: var(--azul);
}

.bloco {
    font-family: fodase;
    top: 15%;
    width: 90%;
    height: 80%;
    left: 5%;
}

@keyframes aparecer {
    0% {
        left: -90%;
    }
    100% {
        left: 5%;
    }
}

.blank {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 27.5%;
    background-color: var(--fundo);
    z-index: 2;
}

.linha {
    top: 10%;
    left: 5%;
    width: 15%;
}

.title {
    top: 1%;
    font-size: 150%;
}

@keyframes sim {
    0% {
        opacity: 0%;
    } 
    100% {
        opacity: 100%;
    }
}

.seletor {
    position: absolute;
    right: 5%;
    top: 1%;
    width: 8%;
    height: 6%;
}

.invum, .indois {
    z-index: 2;
}

.circulo {
    position: absolute;
    border: 0.2vw solid #b6b6b6;
    top: 7.5%;
    left: 15%;
    width: 70%;
    height: 30%;
    border-radius: 100%;
}

.textos {
    position: absolute;
    width: 80%;
    left: 10%;
    height: 52.5%;
    bottom: 5%;
    font-family: fodase;
    color: var(--texto);
}

.nome {
    position: absolute;
    width: 110%;
    height: 7.5%;
    font-size: 1.40em;
    color: var(--azul);
}

.bolaquatro {
    position: absolute;
    top: 11%;
    left: 9%;
    height: 0.75vw;
    width: 0.7vw;
    background-color: var(--azul);
    border-radius: 100%;
}

.palavra {
    position: absolute;
    top: 9%;
    left: 11%;
    width: 10%;
    height: 5%;
    font-family: fodase;
    color: var(--azul);
    font-weight: bolder;
    font-size: 125%;
}

.tel {
    position: absolute;
    top: 38%;
    left: 11%;
    width: 50%;
    height: 5%;
    font-family: fodase;
    color: var(--azul);
    font-weight: bolder;
    font-size: 125%;
}

.bolacinco {
    position: absolute;
    top: 40%;
    left: 9%;
    height: 0.75vw;
    width: 0.7vw;
    background-color: var(--azul);
    border-radius: 100%;
}

.easteregg {
    position: absolute;
    font-family: fodase;
    color: var(--texto);
    top: 17%;
    left: 12%;
    line-height: 175%;
}

.num {
    position: absolute;
    font-family: fodase;
    color: var(--texto);
    top: 46%;
    left: 12%;
    line-height: 175%;
}

.redes {
    position: absolute;
    bottom: 5.5%;
    left: 7.5%;
    width: 85%;
    height: 30%;
}

.fogo {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.agua {
    height: 100%;
    position: absolute;
    left: 12.5%;
    top: 0%;
    width: 50%;
    display: flex;
    flex-direction: column;
    
  flex-wrap: wrap;
    gap: 22%;
  justify-content: center;

}

.rd {
    height: 33%;
    width: 100%;
}

.links {
    color: var(--azul);
    cursor: pointer;
}

.links:visited {
    color: var(--azul);
}

.links {
    font-family: fodase;
}

.links:active {
    color: lightblue;
}

.socorro {
    position: absolute;
    left: 0%;
    top: -3.8%;
    width: 100%;
    height: 100%;
}

.formacao, .know, .ferramentas {
    position: absolute;
}

.know, .ferramentas {
    width: 42.5%;
    top: 55%;
    height: 40%;
}

.formacao {
    width: 90%;
    left: 5%;
    top: 5%;
    height: 45%;
}

.know {
    left: 5%;
}

.ferramentas {
    right: 5%;
}

.gabrielateamo {
    position: absolute;
    background-color: var(--azul);
    width: 0.7vw;
    height: 0.75vw;
    border-radius: 100%;
    left: 3%;
    top: 4.6%;
}

.borabill, .conhecimentos {
    color: var(--azul);
    font-weight: bolder;
    margin-left: 6%;
    font-size: 125%;
}

.emed, .desenvolvimento, .facul {
    font-size: 90%;
    position: absolute;
    width: 90%;
    left: 5%;
    height: 25%;
    color: var(--texto);
}

.emed {
    top: 20%;
}

.timeline {
    position: absolute;
    background-color: var(--azul);
    width: 36%;
    height: 8%;
    float: left;
    top: 65%;
    border-radius: 40px;
}

.tltres {
    background: linear-gradient(to right, var(--azul), var(--corpo));
}

.umemed, .umdes, .umfac {
    display: inline;
    float: left;
}

.tresemed, .doisdes, .doisfac {
    display: inline;
    float: right;
}

.emcomum {
    position: absolute;
    background-color: var(--azul);
    width: 100%;
    height: 1%;
    top: 80%;
    left: 0%;
}

.desenvolvimento {
    top: 45%;   
}

.facul {
    top: 70%;
    position: absolute;
}

.enfila {
    margin-top: 4%;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--texto)
}

.fila {
    width: 100%;
}

.qtd {
    position: absolute;
    right: 0%;
}

.bold {
    font-weight: 600;
}

.progress {
    position: absolute;
    height: 5%;
    background-color: var(--azul);
    margin-top: -5%;
    margin-left: 40%;
    border-radius: 50px;
    border: 0.4vw solid var(--azul); 
}

.pgum {
    width: 40%;
}

.pgdois {
    width: 32%;
}

.pgtres {
    width: 20%;
}

.pgquatro {
    width: 2%;
}

.pgcinco {
    width: 20%;
}

.pgseis {
    width: 10%;
}

.pgsete {
    width: 2%;
}

.tlt {
    position: absolute;
    width: 40%;
    height: 5%;
    border: 0.4vw solid var(--azul);
    margin-top: -5%;
    margin-left: 40%;
    border-radius: 50px;
}

.reseba {
    position: absolute;
    background-color: var(--azul);
    width: 0.70vw;
    height: 0.75vw;
    border-radius: 100%;
    left: 5%;
    top: 5%;
}

.conhecimentos {
    margin-left: 10%;
}

.contagem {
    position: absolute;
    display: flex;
}

.ctagemum, .ctagemdois {
    flex-direction: column;
    color: var(--texto);
    padding-left: 5vw;
}

.ctagemdois > li:not(.excluido) {
    margin-top: 15%;
}

/* sobre mim */

.lore, .objetivo {
    width: 100%;
    height: 50%;
}

.gabrielaeuteamo, .boludo {
    position: absolute;
    background-color: var(--azul);
    border-radius: 100%;
    left: 1%;
    top: 37.5%;
    height: 0.75vw;
    width: 0.7vw;

}

.apresentacao, .ponto {
    font-weight: bolder;
    color: var(--azul);
    font-size: 125%;
}

.yes {
    top: 60%;
}

.nop {
    top: 5%;
}

.nop, .yes {
    padding-left: 3.5%;
    left: 6%;
    position: absolute;
}

.conteudo, .perdido {
    color: var(--texto);
    text-indent: 15%;
    padding-top: 7.5%;
    font-size: 1.15vw;
}

.txtum, .txtdois {
    display: none;
    position: absolute;
    width: 0%;
    height: 0%;
    left: 0%;
    top: 0%;
}

.error {
    display: none;
}

.blocotres {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "g1 g2 g3"
    "g4 g5 g6";
}

.blocotres > div {
    display: flex;
    flex-flow: column nowrap;
}

.template {
    width: 80%;
    height: 60%;
    margin: 10% 10% 10% 10%;
    border: 1px solid black;
    flex: 1 0 auto;
    transition: 400ms;
    cursor: pointer;
}

.template:hover {
    width: 90%;
    height: 70%;
    margin: 5% 5% 5% 5%;
}

.titulo-site {
    padding-left: 5%;
}

.titulo-site > p {
    position: relative;
    top: 40%;
}

.g1 { grid-area: g1;}
.g2 { grid-area: g2;}
.g3 { grid-area: g3;}
.g4 { grid-area: g4;}
.g5 { grid-area: g5;}
.g6 { grid-area: g6;}

.fundo-modal {
    display: none;
    position: fixed;
    z-index: 990;
    top: 0%;
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.116);
}

.modal {
    position: fixed;
    z-index: 999;
    height: 80%;
    width: 80%;
    left: 10%;
    top: 10%;
    background-color: var(--fundo);
    border-radius: 20px;
    box-shadow: 0px 1px 20px 1px var(--sombra);
    display: flex;
    flex-flow: column nowrap;
}

.cima {
    height: 10%;
    align-content: center;
}

.close-modal {
    position: relative;
    left: 96%;
    width: 2%;
    aspect-ratio: 1/1;
    cursor: pointer;
    color: var(--texto);
}

.baixo {
    height: 90%;
    border-top: 1px solid black;
    align-content: center;
}

.todo {
    height: 80%;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-flow: column nowrap;
}

.interativo {
    width: 80%;
    margin-left: 10%;
    height: 80%;
    background-image: url('368747905_618447380391939_899445883402682981_n.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.pagina {
    margin: 4% 42.5% 0% 42.5%;
    height: 10%;
    width: 15%;
    cursor: pointer;
    border: none;
    background-color: var(--azul);
    color: var(--corpo);
    font-family: fodase;
    border-radius: 5px;
}

.pagina:active {
    background-color: var(--piscada);

}

.botoes {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.previous, .next {
    height: 20%;
    aspect-ratio: 1/1;
    background-color: #7c7c7c73;
    cursor: pointer;
}

.previous:active, .next:active {
    background-color: #49494973;
}

.prev-svg, .next-svg {
    position: relative;
    top: 0;
    left: 0;
    width: 60%;
    height: 60%;
    margin: 20% 20% 20% 20%;
    cursor: pointer;
}

@media screen and (min-aspect-ratio: 3/2) {
    .downarrow {
        width: 0%;
        height: 0%;
    }
}